<%= form_with(model: earn, html: {class: "order_form", id: "earn_form"}) do |f| %>
  <%= f.hidden_field :txhash %>

  <% if earn.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(earn.errors.count, "error") %> prohibited this earn from being saved:</h2>

      <ul>
        <% earn.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="bg-transparent border-0">
    <h2 class="fs0875">
      <div class="w-100 border-0 py-3 d-flex justify-content-between align-items-center">
        <div>Upload your files</div>
        <!-- <%= bootstrap_icon "chevron-down", width: 24, height: 24 %> -->
        <a class="icon-link text-decoration-none" href="javascript:void(0)" data-controller="clear">
          <%= image_tag "erase.svg", width: 14 %>
          <input type="reset" value="Remove all" id="clear-files" class="border-0 bg-transparent text-light" data-action="click->clear#clear" />
        </a>
      </div>
    </h2>
    <div >
      <div class="accordion-body mx-0 px-0 mb-3">
        <div class="mb-3 position-relative">
          <div class="text-center border border-d border-dark py-3" style="height: 200px;">
            <%= f.file_field :model_file, class: "form-control preview-file opacity-1", accept: ".obj,.glb", multiple: true, required: true %>
            <div id="preview" class="text-break text-start h-100 w-100 d-flex align-items-center justify-content-center">
              <div class="text-center text-light" id="error">
                <%= image_tag "add.svg", class: "rounded shadow", alt: "CAKEBABA", title: "CAKEBABA" %>
              </div>
            </div>
          </div>
          <div class="text-center text-secondary">Drag and drop your 3D files here, or click to select files.Support <span class="text-light">x.obg</span>, <span class="text-light">x.glb</span> files.</div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <%#= f.submit "Submit & Pay", class: "form-control hover_to_gradient btn btn-lg btn-dark rounded-pill mb-5" %>
    <div class="mb-3 text-secondary nav navbar">xToken Rewards Service Fee <span class="token_c">1000</span></div>
    <!-- <input type="button" class="form-control hover_to_gradient btn btn-lg btn-dark rounded-pill mb-5" id="earn_btn" value="Earn & Pay" /> -->

    <button class="form-control hover_to_gradient btn btn-lg btn-dark rounded-pill mb-4" id="earn_btn" type="button"><span class="fs-6">Earn & Pay</span></button>
  </div>
<% end %>
<script src="https://unpkg.com/web3@4.10.0/dist/web3.min.js"></script>
<%= javascript_include_tag "earn_pay", "data-turbo-track": "reload" %>

<script>
  document.getElementById('earn_model_file').addEventListener('change', function(e) {
    var files = e.target.files;
    var fileNamesDiv = document.getElementById('preview');
    var maxFiles = 5;

    fileNamesDiv.innerHTML = '';

    if (files.length > maxFiles) {
      alert('You can only select a maximum of' + maxFiles + 'files.');
      return;
    }

    for (var i = 0; i < files.length; i++) {
      var file = files[i];
      var fileName = file.name;
      fileNamesDiv.innerHTML += fileName + '<br>';
    }
  });

  document.getElementById('clear-files').addEventListener('click', function() {
    var fileInput = document.getElementById('earn_model_file');
    fileInput.value = '';
    
    let fileNamesDiv = document.getElementById('preview');
    fileNamesDiv.innerHTML = '';

    let errorDiv = document.createElement('div');
    errorDiv.className = 'text-center text-light';
    errorDiv.id = 'error';

    let img = document.createElement('img');
    img.src = '<%= asset_path("add.svg") %>';
    img.classList.add('rounded', 'shadow');

    errorDiv.appendChild(img);
    fileNamesDiv.appendChild(errorDiv);
});
</script>