<div class="row">
  <div class="col-sm-12">
    <div class="profile_border p-2 p-sm-4 rounded">
      <!-- <div class="h4 mb-3">My 3D Models</div> -->
      <nav>
        <%= link_to "All", "/profile/my_model", data: {"turbo-prefetch": false}, class: "text-decoration-none text-secondary h5" %>
        <%= link_to "Minted", "#", class: "text-decoration-none text-secondary h5 ms-4" %>
        <%= link_to "Unminted", "#", class: "text-decoration-none text-secondary h5 ms-4" %>
        <%= link_to "Earn", "#", class: "text-decoration-none text-light h5 ms-4" %>
        <%#= link_to "/drafts/new", data: {"turbo-prefetch": false}, class: "text-decoration-none text-light h6 ms-auto bg_gradient padding1 rounded-3" do %>
          <!-- <div class="bg-dark rounded-3 p-1 p_v_btn">
            <span class="">New</span>
          </div> -->
        <%# end %>
      </nav>
      <p></p>
      <div class="row row-cols-auto row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 g-4">
        
        <% @earns.each do |order| %>
          <div class="col">
            <div class="h-100 rounded profile_border position-relative">
              <%= link_to "javascript:void(0)", data: {"turbo-prefetch": false} do %>
                <div class="text-center">
                  <% if is_image_content_type? order.model_file.first.content_type %>
                    <%= image_tag url_for(order.model_file.first.variant(resize_to_fill: [200, 200])), class: "img-fluid rounded-top object-fit-fill", alt: "Model", title: "Model" %>
                    <!-- <div><%#= order.model_file.first.content_type %></div> -->
                  <% else %>
                    <div class="py-5 text-light"><%= order.model_file.first.filename %></div>
                  <% end %>
                </div>
              <% end %>
              <div class="p-2 text-secondary">
                <div><%= order.model_file.size %>files</div>
                <div><%= time_ago_in_words order.created_at %></div>
                <div class="text-warning fw-bold">+1000 Token</div>
              </div>
              
              <% unless order.status == "completed" %>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg_gradient">
                  <%= order.status %>
                </span>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="pt-3 d-flex justify-content-center">
        <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
      </div>
    </div>
  </div>
</div>