<%= turbo_frame_tag "two_btn", class: "col-sm-6 row row-cols-2 mx-0 text-center" do %>
  <% if user_signed_in? %>
    <div class="">
      <a href="/order/new" class="d-block position-relative" data-turbo-prefetch="false" data-turbo="false">
        <%= render "home/btn_create" %>
      </a>
    </div>
    <div>
      <a href="/earns/new" class="d-block position-relative" data-turbo-prefetch="false" data-turbo="false">
        <%= render "home/btn_earn" %>
      </a>
    </div>
  <% else %>
    <div>
      <a href="#" class="d-block position-relative" data-bs-toggle="modal" data-bs-target="#authModal">
        <%= render "home/btn_create" %>
      </a>
    </div>
    <div>
      <a href="#" class="d-block position-relative" data-bs-toggle="modal" data-bs-target="#authModal">
        <%= render "home/btn_earn" %>
      </a>
    </div>
  <% end %>
<% end %>