<div class="row">
  <div class="col-sm-12">
    <div class="profile_border p-2 p-sm-4 rounded">
      <!-- <div class="h4 mb-3">My 3D Models</div> -->
      <nav>
        <%= link_to "All", "#", class: "text-decoration-none text-light h5" %>
        <%= link_to "Minted", "#", class: "text-decoration-none text-secondary h5 ms-4" %>
        <%= link_to "Unminted", "#", class: "text-decoration-none text-secondary h5 ms-4" %>
        <%= link_to "Earn", earns_path, data: {"turbo-prefetch": false}, class: "text-decoration-none text-secondary h5 ms-4" %>
      </nav>
      <p></p>
      <div class="row row-cols-auto row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 g-4">
        <!-- Modal show start -->
        <div class="modal fade blur-div-background" data-bs-backdrop="static" data-bs-keyboard="false" id="modelShow" tabindex="-1" aria-labelledby="modelShowLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered px-4">
            <div class="modal-content text-light">
              <div class="position-absolute top-0 start-100 translate-middle cursor-pointer p-3" data-bs-dismiss="modal" aria-label="Close">
                <%= link_to "", data: {"turbo-prefetch": "false"} do %>
                  <%= image_tag "close.svg", class: "position-absolute top-0 start-100 translate-middle" %>
                <% end %>
              </div>
              <%= turbo_frame_tag "model_show" %>
            </div>
          </div>
        </div>
        <!-- Modal show end -->
        <% @order.each do |order| %>
          <div class="col">
            <div class="h-100 rounded profile_border position-relative">
              <%= link_to order_path(order), data: {"turbo-prefetch": false, turbo_frame: "model_show"} do %>
                <div class="text-center overflow-hidden s-model" data-bs-toggle="modal" data-bs-target="#modelShow">
                  <% if order.image.attached? %>
                    <%= image_tag url_for(order.image.variant(resize_to_fill: [200, 200])), class: "img-fluid rounded-top object-fit-fill" %>
                  <% else %>
                    <% if order.status == "completed" %>
                      <img src="/order/order_<%= order.id %>/img_180.png" class="img-fluid" alt="ZAAT" title="ZAAT">
                    <% else %>
                      <div class="text-light py-5 text-truncate">
                        <%= order.prompt %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
              <!-- <div class="p-2">
                <span class="card-text"><%= bootstrap_icon "three-dots", width: 24 %> &nbsp; <%= bootstrap_icon "link", width: 24 %></span>
              </div> -->
              <% unless order.status == "completed" %>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg_gradient">
                  <%= order.status %>
                </span>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="pt-3 d-flex justify-content-center">
        <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
      </div>
    </div>
  </div>
</div>