<%= turbo_frame_tag "user_sign" do %>
  <div class="position-relative">
    <div class="login_div py-5 px-2 px-sm-3 px-md-4 px-lg-5 shadow-lg">
      <div class="text-center">
        <h3>Log in to Zaat</h3>
        <div class="fs0875 px-2 fs-bolder">
          By logging in to Zaat, you agree to <a href="" class="text-decoration-none">Terms of Service</a> and <a href="" class="text-decoration-none">Privacy Policy</a>.
        </div>
      </div>
      <div class="row pt-5">
        <div class="col-sm-6 mb-3">
          <%= link_to new_user_session_path, class: "text-decoration-none text-light d-block bg_gradient padding1 rounded-pill", data: {"turbo-prefetch": "false"} do %>
            <div class="d-flex justify-content-center bg-dark rounded-pill py-3">
              <%= bootstrap_icon "envelope", width: 24 %>
              <span class="ps-2">Email</span>
            </div>
          <% end %>
        </div>
        <div class="col-sm-6 mb-3" data-controller="metamasklogin">
          <%= link_to "javascript:void(0)", data: {action: "metamasklogin#login"}, class: "text-decoration-none text-light d-block bg_gradient padding1 rounded-pill" do %>
            <div class="d-flex justify-content-center bg-dark rounded-pill py-3">
              <%= image_tag "metamask.png", width: 24 %>
              <span class="ps-2">Metamask</span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>