<%= turbo_frame_tag "header_right_button" do %>
  <!-- Button trigger modal -->
  <div class="mouse-cursor-gradient-tracking btn_login fs0875 d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#authModal" data-controller="mousecursor">
    <span class="p-0 m-0">Log in</span>
  </div>
  <!-- Modal -->
  <div class="modal fade blur-div-background" data-bs-backdrop="static" data-bs-keyboard="false" id="authModal" tabindex="-1" aria-labelledby="authModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered px-4">
      <div class="modal-content text-light">
        <div class="position-absolute top-0 start-100 translate-middle cursor-pointer p-3" data-bs-dismiss="modal" aria-label="Close">
          <%= link_to auth_modal_path, data: {"turbo-prefetch": "false"} do %>
            <%= image_tag "close.svg", class: "position-absolute top-0 start-100 translate-middle" %>
          <% end %>
        </div>

        <%= turbo_frame_tag "user_sign" do %>
          <%= render "layouts/auth_modal" %>
        <% end %>

      </div>
    </div>
  </div>
<% end %>