<%= turbo_frame_tag "header_right_button" do %>
  <div class="btn-group">
    <div class="dropdown-toggle cursor-pointer nav" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
      <%= bootstrap_icon "list", width: 30, class: "text-light" %>
    </div>
    <ul class="dropdown-menu dropdown-menu-end drop_menu_shadow p-0 mt-2 bg-dark">
      <li class="px-3">
        <%= link_to profile_index_path, data: {"turbo-prefetch": "false", turbo: false}, class: "icon-link text-light lh-lg p-2 text-decoration-none w-100" do %>
          <%= image_tag "my_profile.svg" %> Profile
        <% end %>
      </li>
      <li class="px-3">
        <%= link_to profile_my_model_path, data: {"turbo-prefetch": "false", turbo: false}, class: "icon-link text-light lh-lg p-2 text-decoration-none w-100" do %>
          <%= image_tag "my_model.svg" %> Models
        <% end %>
      </li>
      <li class="px-3">
        <%= link_to "/earns", data: {"turbo-prefetch": "false", turbo: false}, class: "icon-link text-light lh-lg p-2 text-decoration-none w-100" do %>
        <%= bootstrap_icon "modem", width: 24 %> My Earn
        <% end %>
      </li>
      <li class="px-3">
        <%= link_to "/token/index", data: {"turbo-prefetch": "false", turbo: false}, class: "icon-link text-light lh-lg p-2 text-decoration-none w-100" do %>
        <%= bootstrap_icon "currency-bitcoin", width: 24 %> Token
        <% end %>
      </li>
      <li class="border border-secondary"></li>
      <li class="px-3">
        <%= link_to "/order/new", data: {"turbo-prefetch": "false", turbo: false}, class: "icon-link text-light lh-lg p-2 text-decoration-none w-100" do %>
        <%= bootstrap_icon "plus-circle", width: 24 %> Create
        <% end %>
      </li>
      <li class="px-3">
        <%= link_to "/earns/new", data: {"turbo-prefetch": "false", turbo: false}, class: "icon-link text-light lh-lg p-2 text-decoration-none w-100" do %>
          <%= bootstrap_icon "currency-dollar", width: 24 %> Earn
        <% end %>
      </li>
      <li class="">
        <%#= button_to destroy_user_session_path, class: "border-0 w-100 bg-black icon-link text-light lh-lg py-2 ps-4 text-decoration-none", data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, method: :delete do %>
        <%= button_to destroy_user_session_path, method: :delete, data: { turbo: false }, class: "icon-link border-0 border-top border-secondary w-100 bg-dark icon-link text-light lh-lg p-2 ps-4" do %>
          <%= bootstrap_icon "power", width: 24 %> Log out
        <% end %>
      </li>
    </ul>
  </div>
  <script>
    var backdrop = document.querySelector('.modal-backdrop');
    if (backdrop) {  
        backdrop.parentNode.removeChild(backdrop);
        const bd = document.body;
        bd.style.overflow = "";
        bd.style.paddingRight = "";
        bd.classList.remove("modal-open");
    }
  </script>
<% end %>